@model JWMaps.ViewModel.TerritoryMapViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("NewTerritoryMap", "TerritoryMaps", FormMethod.Post))
{
    <p>@Html.DropDownListFor(t => t.selectedNeighbourhood, new SelectList(Model.Neighbourhoods.Distinct()), "", new { @class = "form-control" })</p>
    <div class="form-group">
        @Html.LabelFor(t => t.MaxDistanceAmongHouseholders)
        @Html.TextBoxFor(t => t.MaxDistanceAmongHouseholders, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.MaxDistanceAmongHouseholders)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.MaxNumberOfHouseholders)
        @Html.TextBoxFor(t => t.MaxNumberOfHouseholders, new { @class = "form-control"})
        @Html.ValidationMessageFor(t => t.MaxNumberOfHouseholders)
    </div>
    <button type="submit" class="btn btn-primary">New territory map</button>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
