@model List<JWMaps.ViewModel.ListAllTerritoryMapsViewModel>

@{
    ViewBag.Title = "Meus territórios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minha lista de territórios</h2>

<p>@Html.ActionLink("Novo território", "Create", "TerritoryMaps", null, new { @class = "btn btn-primary" })</p>

<br />

<table id="territoryMaps" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>nth</th>            
            <th>Dono</th>
            <th>Bairro</th>
            <th>Data de criação</th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            for (int i = 0; i < item.TerritoryMaps.Count; i++)
            {
                <tr>
                    <td>@Html.ActionLink("Mapa " + (i + 1), "Show", "TerritoryMaps", new { id = item.TerritoryMaps[i].Id }, null)</td>
                    <td>@item.User.UserName</td>
                    <td>@item.TerritoryMaps[i].Neighbourhood</td>
                    <td>@item.TerritoryMaps[i].CreationDate</td>
                    <td><button class="btn btn-link js-delete" data-id=@item.TerritoryMaps[i].Id>deletar</button></td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#territoryMaps").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });

            $(".js-delete").on("click", function () {
                var tr = $(this).closest('tr');
                var button = $(this);

                bootbox.confirm("Você tem certeza que deseja devolver esse mapa?", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete","TerritoryMaps")",
                            ajaxasync: true,
                            data: { id: button.attr("data-id") },
                            success: tr.remove()
                        });
                    }
                });
            });
        });
    </script>
}