@model List<JWMaps.Models.Householder>

@{
    ViewBag.Title = "Mapa de território";
}

<h2>Mapa de território</h2>

<table id="householders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Número do mapa</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                @if (Model[i].Name != null)
                {
                    if (User.IsInRole(JWMaps.Models.RoleName.CanManageHouseholders) ||
                    User.IsInRole(JWMaps.Models.RoleName.CanAdministrate))
                    {
                        <td>@Html.ActionLink(@Model[i].Name, "Edit", "Householders", new { id = Model[i].Id }, null)</td>
                    }
                    else
                    {
                        <td>@Model[i].Name</td>
                    }
                }
                else
                {
                    if (User.IsInRole(JWMaps.Models.RoleName.CanManageHouseholders) ||
                    User.IsInRole(JWMaps.Models.RoleName.CanAdministrate))
                    {
                        <td>@Html.ActionLink("Não informado", "Edit", "Householders", new { id = Model[i].Id }, null)</td>
                    }
                    else
                    {
                        <td>Não informado</td>
                    }
                }
                <td>@Model[i].Address</td>
                <td>@Html.ActionLink("marcar como \"visitado\"", "SetVisit", "TerritoryMaps", new { id = Model[i].Id }, null)</td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="map" class="jumbotron" style="width: 95%; height: 432px" />

    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCDXPe6iLZmeOYItmk84ZuV7wVJ_vSQQQs&sensor=false"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#householders").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });

            function initMap() {

                var householders = $(".addr");
                var latitude = @Html.Raw(Json.Encode(Model.First().Latitude));
                var longitude = @Html.Raw(Json.Encode(Model.First().Longitude));

                var myLatLng = {lat: latitude, lng: longitude};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17,
                    center: myLatLng
                });

                var bounds = new google.maps.LatLngBounds();
                var labels = '123456789';
                var labelIndex = 0;

                @foreach(var householder in Model)
                {
                    <text>

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(@householder.Latitude.ToString().Replace(',', '.') , @householder.Longitude.ToString().Replace(',', '.')),
                    map: map,
                    label: labels[labelIndex++ % labels.length]
                });

                bounds.extend(marker.getPosition());
                </text>
                }

                map.fitBounds(bounds);

            } google.maps.event.addDomListener(window, 'load', initMap);
        })
    </script>
}

