@model List<JWMaps.Models.Householder>

@{
    ViewBag.Title = "TerritoryMapView";
}

<h2>TerritoryMapView</h2>

<table id="householders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var householder in Model)
        {
            <tr>
                <td>@Html.ActionLink(householder.Name, "Edit", "Householders", new { id = householder.Id }, null)</td>
                <td>@householder.Address</td>
            </tr>
        }
    </tbody>
</table>

<div id="map" style="width: 95%; height: 432px" />
@foreach(var householder in Model)
{
    <div class="addr" data-latitude="@(householder.Latitude)" data-longitude="@(householder.Longitude)" />
}


@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCDXPe6iLZmeOYItmk84ZuV7wVJ_vSQQQs&sensor=false"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#householders").DataTable();

            function initMap() {

                var householders = $(".addr");
                var latitude = @Html.Raw(Json.Encode(Model.First().Latitude));
                var longitude = @Html.Raw(Json.Encode(Model.First().Longitude));

                var myLatLng = {lat: latitude, lng: longitude};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17,
                    center: myLatLng
                });

                @foreach(var householder in Model)
                {
                    <text>
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(@householder.Latitude.ToString().Replace(',', '.') , @householder.Longitude.ToString().Replace(',', '.')),
                        map: map
                        });
                    
                    </text>
                }

            } google.maps.event.addDomListener(window, 'load', initMap);
        })
    </script>
}

