@model JWMaps.ViewModel.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}

<div id="wrapper">
    <div id="map" class="jumbotron" style="width: 95%; height: 432px" />
</div>

<div id="statistics">
    <ul>
        <li>Total de não-estudantes: @Model.Householders.Count(h => h.PublisherId == null)</li>
        <li>Total de estudantes: @Model.Householders.Count(h => h.PublisherId != null)</li>
        <li>Total geral: @Model.Householders.Count</li>
    </ul>
</div>

@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCDXPe6iLZmeOYItmk84ZuV7wVJ_vSQQQs&sensor=false"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            function initMap() {

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17
                });

                var bounds = new google.maps.LatLngBounds();

                @foreach(var householder in Model.Householders)
                {
                    <text>
                @if(householder.Category == JWMaps.Models.Category.Business)
                {
                    <text> var icon = "http://maps.google.com/mapfiles/ms/icons/yellow.png"; </text>
                }
                else if(householder.PublisherId != null)
                {
                    <text> var icon = "http://maps.google.com/mapfiles/ms/icons/blue.png"; </text>
                }
                else
                {
                    <text> var icon = "http://maps.google.com/mapfiles/ms/icons/red.png"; </text>
                }

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(@householder.Latitude.ToString().Replace(',', '.') , @householder.Longitude.ToString().Replace(',', '.')),
                    map: map,
                    title: "name",
                    icon: icon,
                    animation: google.maps.Animation.DROP
                });

                bounds.extend(marker.getPosition());

                </text>
                }

                map.fitBounds(bounds);

            } google.maps.event.addDomListener(window, 'load', initMap);
        })
    </script>
}