@model List<JWMaps.ViewModel.HouseholderViewModel>

@{
    ViewBag.Title = "Lista de moradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de moradores </h2>

<p>@Html.ActionLink("Adicionar morador", "New", "Householders", null, new { @class = "btn btn-primary" })</p>
<table id="householders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Tipo</th>
            <th>Data da última visita</th>
            @if (User.IsInRole(JWMaps.Models.RoleName.CanManageHouseholders) || User.IsInRole(JWMaps.Models.RoleName.CanAdministrate))
            {
                <th>Apagar</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id=@item.Householder.Id>
                @if (item.Householder.Name != null)
                {
                    <td>@Html.ActionLink(item.Householder.Name, "ViewHouseholderData", "Householders", new { id = item.Householder.Id }, null)</td>
                }
                else
                {
                    <td>@Html.ActionLink("Não informado", "ViewHouseholderData", "Householders", new { id = item.Householder.Id }, null)</td>
                }
                <td>@item.Householder.Address</td>
                <td>@item.Householder.Neighbourhood</td>
                @if(@item.Householder.Category == JWMaps.Models.Category.Business)
                {
                    <td>Negócios</td>
                }
                else
                {
                    <td>Residencial</td>
                }
                @if (@item.Householder.Visits.Count > 0)
                {
                    <td>@item.Householder.Visits.OrderBy(v => v.DateOfVisit).First().DateOfVisit.ToShortDateString()</td>
                }
                else
                {
                    <td>Ainda não foi visitado</td>
                }
                @if (User.IsInRole(JWMaps.Models.RoleName.CanManageHouseholders) || User.IsInRole(JWMaps.Models.RoleName.CanAdministrate))
                {
                    <td><button class="btn-link js-delete" householder-id=@item.Householder.Id>apagar</button></td>
                }
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#householders").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });

            $(".js-delete").on("click", function () {
                var tr = $(this).closest('tr');
                var button = $(this);

                bootbox.confirm("Você tem certeza que deseja deletar esse registro de morador?", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete","Householders")",
                            ajaxasync: true,
                            data: { id: button.attr("householder-id") },
                            success: tr.remove()
                        });
                    }
                });
            });
        });
    </script>
}


