@model List<JWMaps.ViewModel.HouseholderViewModel>

@{
    ViewBag.Title = "Lista de estrangeiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de estrangeiros </h2>

<p>@Html.ActionLink("Adicionar estrangeiro", "New", "Householders", null, new { @class = "btn btn-primary" })</p>
<table id="householders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Bairro</th>          
            <th>Apagar</th>  
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr id=@item.Householder.Id>
                <td>@Html.ActionLink(item.Householder.Name, "Edit", "Householders", new { id = item.Householder.Id }, null)</td>
                <td>@item.Householder.Address</td>
                <td>@item.Householder.Neighbourhood</td>
                <td><button class="btn-link js-delete" householder-id=@item.Householder.Id>apagar</button></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#householders").DataTable();            
            
            $("#householders").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Você tem certeza que deseja apagar esse registro?", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete","Householders")",
                            ajaxasync: true,
                            data: { id: button.attr("householder-id") },
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>    
}


