@model JWMaps.Models.Publisher

@{
    ViewBag.Title = "Publisher's form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Publisher form</h2>

@using (Html.BeginForm("Save", "Publishers"))
{
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Name)
    </div>
    @Html.HiddenFor(p => p.Id);
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.AntiForgeryToken()
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}


