@model List<JWMaps.Models.ExpandedUserDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
    @Html.ActionLink("Congregações", "Index", "Congregations", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Novo usuário", "Create", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Editar Roles", "ViewAllRoles", null, new { @class = "btn btn-default" })
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                LockoutEndDateUtc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditUser", new { UserName = item.UserName }) |
                    @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                    {
                        @Html.ActionLink("Apagar", "DeleteUser", new { UserName = item.UserName },
                            new { onclick = "return confirm('Você tem certeza que deseja apagar esse usuário?');" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
